**
!package.json
!package-lock.json
!src/
!src/**
!migrations/
!migrations/**
!ops/
!ops/**
!verifier/
!verifier/**
!.env.example
!deploy/
!deploy/Dockerfile
!deploy/entrypoint.sh
**/__pycache__/**
**/*.pyc
**/*.env
